{% extends "int/base.html" %}
{% load static %}

{% block content %}
    <div class="question-title">
        <div class="row">
            <div class="col-2">
              <div class="avatar">
                <img src="{% static question.user.avatar %}" alt="">
              </div>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-score btn-success"></button>
                <div class="count btn-score">5</div>
                <button type="button" class="btn btn-score btn-danger"></button>
              </div>
            </div>
            <div class="col-10">
              <h2 class="question-caption">{{ question.title }}</h2>
              <div class="question-text">
                {{ question.text }}
              </div>
            </div>
          </div>
        </div>
    <div class="row">
            <div class="col-2">
                <div class="text-center position-relative top-50 start-50 translate-middle">
                    <input type="checkbox" class="btn-check" id="btn-check-outlined1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btn-check-outlined1">{{ question.like_number }}</label>
                </div>
            </div>
            <div class="col-10">
                <div class="question_tag">
                    <ul class="nav">
                        <li class="nav-item">
                            <h5 style="margin-top:10px;">Tag:</h5>
                            {% for tag in question.tags %}
                                <li class="nav-item popular-tag">
                                    <a class="nav-link " href="{% url 'tag_question' tag_id=tag.id %}">{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="line"></div>

        {% for answer in answers %}
            {% include "int/answer.html" %}
        {% endfor %}


    <form action="{% url 'question' question_id=question.id %}" method="post">
        <textarea id="answer-input-1" rows="3" placeholder="Enter Answer..."></textarea>
        <button type="submit" class="btn btn-success" id="btn-question">ADD!</button>
    </form>
    {% include "int/paginator.html" %}
{% endblock %}