<!doctype html>

{% load static %}

<html lang="en" class="h-100">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JOJO</title>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
  <!-- Fixed navbar -->
  <nav class="top-head navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">JOJO FORUM</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="d-flex" role="search">
          <input class="form-control me-2" id="search" type="search" placeholder="Search" aria-label="Search">
        </form>
        <button type="button" class="btn btn-success btn-lg"><a class="add-link" href="{% url 'ask' %}">ADD!</a></button>
        {% if current_user.is_auth %}
                    <div class="row">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <div class="avatar">
                                    <img src="{% static 'img/../../static/img/avatar-1.jpg' %}" alt=""/>
                                </div>
                            </li>
                            <li class="nav-item ms-4">
                                <div class="row">
                                    <h4 style="color: white">{{ current_user.profile.nickname }}</h4>
                                    <a class="col-6" href="{% url 'settings' %}">Settings</a>
                                    <a class="col-6" href="{% url 'logout' %}">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="row">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item ms-4">
                                <a class="col-6" href="{% url 'login' %}">Log In</a>
                                <a class="col-6" href="{% url 'signup' %}">Sign Up</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-9">
          {% block content %}
          {% endblock %}
      </div>
      <div class="col-3">
        <h2 id="pt"> Popular Tags</h2>
        <ul class="nav">
        <li class="nav-item">
            {% for  tag in base_tags %}
                <li class="nav-item">
                    <a class="nav-link " href={%   url 'tag' tag_name=tag  %}>{{ tag }}</a>
                </li>
            {% endfor %}

    </ul>
        <h3 id="bm"> Best Members</h3>
         <ol class="list-group list-group-numbered" style="margin-right: 130px; margin-left: 80px;">
                    {% include 'int/best_member.html' %}
                    {% include 'int/best_member.html' %}
                    {% include 'int/best_member.html' %}
                </ol>
      </div>
    </div>
  </div>
</main>
</body>
</html>